body{
      background-color: #D9D9D9;

}
.logo {
  height: 50px;
}

#heroCarousel .carousel-item img {
  height: 500px;
  object-fit: cover;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 5%;
  min-height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 5px 10px;
  transition: all 0.5s ease;
  border-radius: 15px;
}

.nav-menu a:hover {
  background-color: #D9D9D9;
  transform: scale(0.5);
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  display: block;
}