

body {
    background-color: #ffffff; 
    color: #3b3b3b;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}


h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: 5px;
    color: #3b3b3b;
    position: relative;
}


h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background: #2175f3; 
    margin: 10px auto;
    border-radius: 2px;
}


p {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.1rem;
    color: #3b3b3bcc;
    padding: 0 20px;
}


p a {
    color: #2175f3;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
}

img[alt="image"] {
    display: block;
    margin: 40px auto;
    max-width: 600px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(243, 108, 33, 0.2); 
    transition: transform 0.5s ease;
}

img[alt="image"]:hover {
    transform: scale(1.02);
    transform: rotateX(12deg) rotateY(-12deg);
}


